.about-container {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    font-family: "Arial", sans-serif;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
}

.about-container h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about-container p {
    font-size: 1.3rem;
    line-height: 1.6;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .about-container {
        padding: 15px;
    }

    .about-container h1 {
        font-size: 2rem;
    }

    .about-container h2 {
        font-size: 1.5rem;
    }
}

.tech-stack {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.tech-stack p {
    line-height: 0;
}

.tech-stack-icon {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10%;
}
